.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}
.comment {
  padding: 10px;
  border-left: 6px solid #cfd13e;
  background-color: #f5bf5c;
  font: 1.4em/1.6em cursive;
  color: #095484;
}
.textarea {
  width: 100%;
  height: 100%;
}
.comment2 {
  background-color:rgba(231, 76, 60,0.9);
	padding-left:35px;
	padding-right:5px;
	padding-top:10px;
	padding-bottom:10px;
  width: 100;
}
